#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(31, 31, 31);
  background-color: #8EB19D;
  margin: 0 auto;
  margin: 0;
  display: flex;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.title {
  font-size: 3em;
}

.navigation button {
  margin: .5em;
  margin-top: 1em;
  font-size: medium;
}
