.flashcard_container {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.flashcard.MuiCard-root {
  width: 800px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: linear-gradient(to bottom, #faf3e7 95%, #e0e0e0 95%);
  background-size: 100% 28px;
}

.flashcard_content.MuiCardContent-root {
  display: flex-box;
  font-family: cursive;
  line-height: 26px;
}

.questionIndex {
  margin-top: .6em;
  margin-bottom: .2em;
}

.flashcard ul {
  list-style: lower-alpha;
  justify-items: left;
  padding-top: .3em;
}

.flashcard ul li {
  margin-top: 0.1em;
  font-size: .88em;
}

.flashcard_content ol {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

li button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

.selected {
  color: rgb(13, 137, 137);
  text-shadow: lightblue 1px 1px;
}

.correct {
  color: rgb(41, 179, 41);
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.incorrect {
  color: red;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.choice-button {
  display: flex;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

.choice-id {
  margin-right: 8px;
}

.choice-text {
  flex: 1;
}

.highScore{
  font-size: 1em;
  margin-bottom: 10px;
}

.highScoreH3{
  margin-top: 10px;
  margin-bottom: 30px;
}